body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.popup-container {
    width: 300px;
    padding: 20px;
    box-sizing: border-box;
    background-color: white;
}

/* Description Styles */

div.description .popup-header {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 24px;
    color: #1F2937;
}

div.description .popup-description {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 16px;
    color: #1F2937;
}

.popup-author {
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    text-decoration: none;
    background-color: #3B82F6;
}

/* Options Styles */

div.options {
    padding-bottom: 20px;
    font-size: 16px;
    color: #1F2937;
}

div.option {
    display: flex;
    align-items: center;
    gap: 5px;
}

div.options h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 18px;
    color: #1F2937;
}

.toggle-switch input {
    width: 15px;
    height: 15px;
    margin-left: 0;
}