body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.popup-container {
    width: 400px;
    padding: 20px;
    box-sizing: border-box;
    background-color: white;
}

/* Description Styles */

div.description .popup-header {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 24px;
    color: #1F2937;
}

div.description .popup-description {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 16px;
    color: #1F2937;
}

div.footer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.popup-author {
    padding: 5px 0;
    width: 100% !important;
    text-align: center;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    background-color: #334155;
    text-decoration: none;
}

/* Options Styles */

h2.options {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 18px;
    color: #1F2937;
}

div.options {
    padding-bottom: 20px;
    font-size: 16px;
    color: #1F2937;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.toggle-switch input {
    display: none;
}

.toggle-switch label {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: none;
    border: 2px solid #3B82F6;
    color: #3B82F6;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    display: inline-block;
}

.toggle-switch input:checked + label {
    background-color: #3B82F6;
    color: #ffffff;
}