/* Header Styles */

[data-aid="PanelHeader"] {
    background-color: white !important;
    color: #1F2937 !important;
    border-radius: 10px 10px 0 0 !important;
    border-bottom: 1px solid #DDD !important;
}

[data-aid="PageHeader"] {
    background-color: #334155 !important;
}

/* Ticket Layout Styles */

[data-aid="VelocityIndicator"] {
    color: #1F2937 !important;
}

[data-aid="AddButton"] {
    color: #1F2937 !important;
}

[data-aid="IterationMarker"] {
    background-color: #3B82F6 !important;
    color: white !important;
    padding: 0 10px 0 5px !important;
}

[data-aid="IterationMarker__expander"] {
    color: white !important;
}

[data-aid="StoryPreviewItem__preview"] {
    background-color: white !important;
}

[data-aid="StoryPreviewItem__preview"]:has(.dense) {
    min-height: none !important;
}

[data-aid="StoryPreviewItem__preview"]:not(:has(.dense)) {
    min-height: 60px;
}

[data-aid="CommentLayout"] span.tracker_markup {
    color: #1F2937 !important;
}

header.preview {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.dense .StoryPreviewItem__meta__top___2BJiw01g { 
    display: flex !important; 
}

.StoryPreviewItem__meta__top___2BJiw01g { 
    display: block !important; 
}

span.story_name {
    font-size: 12px;
    font-weight: bold;
}

span.story_name a.owner {
    padding: 1px 3.25px 1.5px 3.25px !important;
    color: white !important;
    border-radius: 5px;
    font-size: 10px;
    text-align: center;
    margin-right: 3px;
}

span.story_name a.owner:before {
    display: none !important;
}

.backlog_stories_marker.item {
    background-color: #334155 !important;
    color: white !important;
    text-shadow: none !important;
    padding-bottom: 4px !important;
}

svg.selector {
    margin-top: 5px !important;
}

.status [class*='StoryPreviewItemReviewList'] {
    max-width: 90% !important;
}

.layouts.normal .story .preview.status .post.labels {
    max-width: 90% !important;
}

/* Priority */

button.priority.p2 {
    background-color: #FDE047!important;
    color: #171717;
    border-color: #EAB308;
} button.priority.p1 {
    background-color: #EF4444!important;
    color: white;
    border-color: #DC2626;
}

/* State Buttons */

span.StoryPreviewItemButtons__container {
    padding-top: 5px !important;
}

.state.button.deliver {
    background-color: #FB923C !important;
    border-color: transparent !important;
    color: white !important;
} .state.button.deliver:hover {
    background-color: #F97316 !important;
}

.state.button.finish {
    background-color: #075985 !important;
    border-color: transparent !important;
    color: white !important;
} .state.button.finish:hover {
    background-color: #0a4161 !important;
}

.state.button.start {
    background-color: #F3F4F6 !important;
    border-color: #94A3B8 !important;
} .state.button.start:hover {
    background-color: #D1D5DB !important;
}

.state.button.accept {
    background-color: #16A34A !important;
    border-color: transparent !important;
    color: white !important;
} .state.button.accept:hover {
    background-color: #15803D !important;
}

.state.button.reject {
    background-color: #DC2626 !important;
    border-color: transparent !important;
    color: white !important;
} .state.button.reject:hover {
    background-color: #B91C1C !important;
}

.preview .reveal.button {
    border-color: transparent !important;
}

/* Ticket Status */

.story.release .preview.status {
    background-color: #FEF9C3 !important;
    color: #1F2937 !important;
}

.story.release .preview {
    background-color: #FEF9C3 !important;
    color: #1F2937 !important;
    border-top: #1F2937 1px solid !important;
    border-bottom: #1F2937 1px solid !important;
}

.story.release .preview  .story_name {
    color: #1F2937 !important;
}

.story.release .preview  a.label {
    color: #1F2937 !important;
    font-weight: bold !important;
}

.dense [data-aid*="StoryPreviewItem"].status:after {
    display: none !important;
}

[data-aid*="StoryPreviewItem"].status:after {
    color: #CBD5E1;
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding-top: 10px;
    display: block !important;
}

[data-aid="StoryPreviewItem__preview"].status.accepted:after {
    content: "";
}

[data-aid="StoryPreviewItem__preview"].status.inProgress:after {
    content: "IN PROGRESS";
}

[data-aid="StoryPreviewItem__preview"].status.review:after {
    content: "IN REVIEW";
}

[data-aid="StoryPreviewItem__preview"].status.acceptance:after {
    content: "ACCEPTANCE";
}

[data-aid="StoryPreviewItem__preview"].status.resolved:after {
    content: "RESOLVED";
}

.unscheduled [data-aid="StoryPreviewItem__preview"] {
    background-color: #E0F2FE !important;
    color: #1F2937 !important;
}

/* Ticket List Styles */

.layouts .story .preview .parens:before, .layouts .story .preview .parens:after {
    content: none !important;
}

.reveal.story.button {
    margin-top: 5px !important;
}

label.show, label.hide, .done_bar a {
    background-image: none !important;
    background-color: #D1FAE5 !important;
    color: #1F2937 !important;
}

.items_container::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.items_container::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}

.items_container::-webkit-scrollbar-thumb {
    background-color: gray;
}

.items_container::-webkit-scrollbar-thumb:hover {
    background-color: gray;
}

/* Ticket Details Styles */

[data-aid="CommentGutter"] [data-aid="Avatar"] {
    margin: 0px 5px !important;
}

div[class*="AddSubresourceButton"], div[class*="TaskEdit"], div[class*="BlockerEdit"] {
    background-color: #E2E8F0 !important;
    color: #64748B !important;
}

div[class*="BlockerEdit"] button[data-aid*="cancelButton"] {
    background-color: white !important;
}
div[class*="BlockerEdit"] button[data-aid*="cancelButton"]:hover {
    background-color: #64748B !important;
}

section.edit{
    background-color: white !important;
    padding-left: 0 !important;
}

.story.state_box {
    width: 100% !important;
}

.story.info_box {
    width: 100% !important;
    margin-right: 0 !important;
}

.inline-code {
    background-color: gray !important;
    padding: 1px 2px;
    border-radius: 3px;
    font-family: 'Consolas';
}

.actions button,
.actions input {
    background-color: #F8FAFC !important;
    border-color: #94A3B8 !important;
    color: #334155 !important;
}

.actions button:hover,
.actions input:hover {
    background-color: #E2E8F0 !important;
    border-color: #64748B !important;
    color: #334155 !important;
}

.actions button.link, .actions button.clone_story {
    border-radius: 5px 0 0 5px !important;
} .actions input.id, .actions button.delete {
    border-radius: 0 5px 5px 0 !important;
} .actions input.id {
    padding-bottom: 1.5px !important;
}

.controls .close {
    border-radius: 5px !important;
}

/* Ticket Details - State and Info Box Styles */

.story.state_box,
.story.state_box .state.row,
.story.state_box [class*="ReviewEdit__container"] {
    border-color: #94A3B8 !important;
    color: #334155 !important;
    border-radius: 5px !important;
} .story.state_box [data-aid="Reviews"] {
    border-color: #94A3B8 !important;
    color: #334155 !important;
    border-radius: 0 0 5px 5px !important;  
}

.story.state_box .state.row,
.story.state_box [class*="Reviews__controls"],
.story.state_box [class*="Reviews__label"],
.story.state_box [class*="ReviewEdit__container"] {
    background-color: #F8FAFC !important;
    border-color: #94A3B8 !important;
    color: #334155 !important;
}

.story.info_box, .story.info_box .row.type {
    border-color: #94A3B8 !important;
    color: #334155 !important;
    border-radius: 5px !important;
} .story.info_box .row {
    background-color: #F8FAFC !important;
    color: #334155 !important;
    border-color: #94A3B8 !important;
} .story.info_box .row em, .story.state_box .state.row em{
    color: #334155 !important;
} .story.info_box .row.timestamp_wrapper {
    border-radius: 0 0 5px 5px !important;
} .story.info_box .timestamp .timestamp_row {
    color: #334155 !important;
}

.story.state_box .state.row {
    height: 30px !important;
}

/* General Page Layout Styles */

.sidebar.expanded {
    width: 175px;
}

section.project article.main {
    left: 175px !important;
    background-color: #475569;
}

section.project article.main.expanded {
    left: 231px !important;
    background-color: #475569;
}

.panel .end_of_list.item .preview {
    background-color: white !important;
    border-radius: 0 0 10px 10px !important;
}

div.story.accepted header.preview {
    background-color: #D1FAE5 !important;
}

/* History Styles */

.item.activity_entry header.preview {
    background-color: white !important;
}

/* Epic Stories Styles */

[class*="EpicStoriesHeader"] {
    background-color: #3B82F6 !important;
    padding: 0 5px 0 5px !important;
    color: white !important;
    text-shadow: none !important;
    border: none !important;
}

[class*="EpicStoriesHeader"] a {
    text-transform: uppercase !important;
}

[data-aid*="EpicPreviewItem"].preview {
    background-color: white !important;
    color: #1F2937 !important;
    font-weight: bold;
    padding-left: 5px;
}

[data-aid*="show-stories"] {
    background-color: white !important;
}

[data-aid*="show-stories"]:before {
    background-color: white !important;
    margin: 1px 0 0 0 !important;
    background-image: none !important;
    content: '›' !important;
    font-size: 20px;
    color: #1F2937 !important;
}

.epic.info_box {
    margin: 0 !important;
    width: 100% !important;
}

.epic .help_text {
    padding: 0 0 5px 0 !important;
    color: #1F2937 !important;
}